/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 1em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#phaser-container {
  /*
    height 80% because we don't want to make it to hard to scroll the
    game window fully into view
  */
  height: 80%;
  width: 100%;
  margin: auto;
}

.tinker-buttons {
  margin-bottom: 1em
}

footer a {
  display: block;
  margin: 1em 0;
}